.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1000; 
  }
  .head {
    padding-left: 20px;
    background-color: #27292c;
    color :azure
  }
  .cart-icon {
    font-size: 2rem; 
    color: #05305e; 
    cursor: pointer;
    position: relative;
  }
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
  }
  .offcanvas {
    position: fixed;
    top: 0;
    right: -400px; 
    width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
  }
  
  .offcanvas.show {
    right: 0; 
  }
  
  .offcanvas-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px; /* Set width to create a square */
    height: 24px; /* Set height to match the width and create a square */
    font-size: 24px;
    cursor: pointer;
    border: 1px solid rgb(13, 12, 12); /* Border with 1px width */
    color: rgb(11, 11, 11);
    background-color: rgb(187, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .item-details {
    flex: 1;
  }
  
  .item-name {
    font-weight: bold;
    margin: 0;
  }
  
  .item-quantity {
    color: #888;
    margin: 0;
  }
  .checkout-button-container {
    position: absolute;
    bottom: 20px; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .checkout-button{
    width: 100%;
    height: 40px;
    background-color: #a8deb0;
  }
